<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <!-- Load Roboto font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Load css styles -->
    @Styles.Render("~/Content/pluton/css")
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57.png">
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">
                    <img src="/images/logo.png" width="120" height="40" alt="Logo" />
                    <!-- This is website logo -->
                </a>
                <!-- Navigation button, visible on small resolution -->
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="icon-menu"></i>
                </button>
                <!-- Main navigation -->
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav" id="top-navigation">
                        <li class="active"><a href="#home">Home</a></li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                        <li><a href="#service">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#clients">Clients</a></li>
                        <li><a href="#price">Price</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <!-- End main navigation -->
            </div>
        </div>
    </div>

    <!-- Body Section Start-->
    @RenderBody()
    <!-- Body Section End-->

    <br />
    <hr />
    <div class="footer">
        <p>&copy; @DateTime.Now.Year - Miiw's Store - Theme by <a href="http://www.graphberry.com">GraphBerry</a>, <a href="http://goo.gl/NM84K2">Documentation</a></p>
    </div>


    @Scripts.Render("~/bundles/pluton/jquery")
    @Scripts.Render("~/bundles/pluton/bootstrap")
    @Scripts.Render("~/bundles/pluton/modernizr")
    @Scripts.Render("~/bundles/pluton/jquery/plugin")
   @* @Scripts.Render("~/bundles/pluton/angular")*@
    @Scripts.Render("~/bundles/pluton/app")

    <!-- Load google maps api and call initializeMap function defined in app.js -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;callback=initializeMap"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
